body {
    margin: 0; 
    padding: 0; 
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}

.logo{
    height: 50px;
    margin-left: 50px;
}

ul{
    display: flex;
    align-items: center;
    gap:40px;
    list-style: none;
    margin-right: 75px;
    font-family: Open Sans;

}

a {
    text-decoration: none;
    color: inherit; 
}

.get-started{
    display: flex;
    margin-top: 125px;
    width: 100%;
    
}
.get{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.get h1{
    font-family: open sans;
    font-size: 55px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.get p{
    font-family: open sans;
    font-size: 26px;
    margin-left: 50px;
   
}

.working-img{
    height: 550px;
}
form{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    margin-left:50px ;
}
button{
    width: 200px;
    height: 46px;
    background-color:hsl(224, 93%, 58%) ;
    border-radius: 5px;
    color: white;
    border: none;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
}

button:hover{
    background-color: hsl(224, 93%, 50%);
}

.email{
    width: 300px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 10px;
}

.productive{
    display: flex;
    margin-top: 200px;
    justify-content: space-between;
    
    
}

.productive-img{
    height: 550px;
}

.productive-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

.productive-text h1{
    font-family: open sans;
    font-size: 50px;
    margin-bottom: 10px;
}

.productive-text p{
    font-family: open sans;
    font-size: 22px;
}

.space{
    margin-bottom: 1px;
}

.link{
    display: flex;
    border-bottom: 2px solid hsl(170, 45%, 43%);
    padding-bottom: 5px;
    width: 180px;
}


.see{
    color:hsl(170, 45%, 43%);
    font-size: 16px;
    font-family: open sans;
   
}

.arrow{
    margin-left: 5px;
    width: 25px;
}

a:hover{
    color: hsl(171, 50%, 20%);
    cursor: pointer;
}

.quote{
    width: 420px;
    height: 250px;
    margin-top: 50px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
}

.quote-text{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 40px;
}

.icon-img{
    height: 20px;
    width: 20px;
}

.quote-text p{
    font-family: open sans;
    font-size: 16px;
    line-height: 25px;
}

.kyle-profile{
    display: flex;
    gap: 10px;
    
}

.kyle-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.kyle-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:0px;
    font-family: open sans;
}

.kyle-text h3, .kyle-text p {
    margin: 0; 
    font-size: 15px;
    line-height: 1.4;
}

.kyle-text p{
    font-size: 12px;
}

.get-access{
    width: 100%;
    height: 350px;
    margin-top: 100px;
    background-color: hsl(238, 22%, 44%);
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.g-txt{
    font-family: open sans;
    font-size: 20px;
    color: white;
}

.g-txt h1{
    font-family: open sans;
    font-size: 40px;
}

.get-access-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.get-access-form input{
    width: 500px;
    height: 45px;
    border: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    padding-left: 18px;
    padding-top: 3px;
    padding-bottom: 5px;
    border-radius: 4px;
}

.get-access-form button{
    width: 200px;
    height: 45px;
    background-color:hsl(224, 93%, 58%) ;
    border-radius: 5px;
    color: white;
    border: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    align-self: flex-start;
}

footer{
    width: 100%;
    height: 400px;
    background-color: hsl(243, 87%, 12%);
    display: flex;
    gap: 300px;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin: 0; 
    padding: 0; 
}

.curve-img{
    background-image: url('bg-curve-desktop.svg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

.footer-collum{
    display: flex;
    flex-direction: column;
    
    
    
}

.contact, .email-contact{
    font-family: open sans;
    font-size: 16px;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.email-img, .phone-img{
    height: 15px;
    width: 15px;
    
}

.options ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: white;
    margin-top: 130px;
    

}

.options-2 ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: white;
    margin-top: 90px;
}